// Buttons
a.btn,
button.btn {
    font-size: inherit;
    // display: inline-block;
    display: block;
    width: 100%;
    max-width: 320px;
    // margin: 0 auto;
    color: $white;
    // letter-spacing: 2px;
    border: solid 1px rgba(255,255,255,.9);
    // border-radius: 4px;
    background: none;
    font-weight: 600;
    cursor:pointer;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem .5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .3s ease;
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background: rgba(255,255,255,.9);
        transition: all .4s cubic-bezier(.215,.61,.355,1);
    }
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        height: 0;
        left: 50%;
        top: 50%;
        width: 150%;
        transition: all .75s ease;
    }
    &:hover {
        color: $yellow;
        &::before {
            top: 0;
            // bottom: auto;
            height: 100%;
        }
        &::after {
            height: 450%;
        }
    }
    @include bp(sm) {
        // font-size: .875rem;
        // padding: 1rem;
    }
}

// Social
.social {
    a {
        display: inline-block;
        margin: 0 .5rem;
        font-size: 1.25rem;
    }
}


/* FORM */
form {
    input,
    select,
    textarea {
        font-size: inherit;
        font-family: inherit;
        width: 100%;
        margin: 0 0 10px;
        padding: 15px;
        border:none;
        border-bottom: 1px solid $white;
        color: $white;
        background: none;
        transition: all .5s ease;
        &:focus {
            outline:none;
        }
    }
    textarea {
        height: 200px;
    }
    .agreement {
        color: $white;
        margin-top: 2rem;
        a {
            color: $white;
            &:hover {
                color: $yellow;
            }
        }
    }
    span.agree {
        display: inline-block;
    }
    ::placeholder {
        font-style: normal;
        font-family: inherit;
        font-size: inherit;
    }
    .btn {
        margin-top: 2rem;
        @include bp(md) {
            float: right;
        }
    }
}

